@mixin title{
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(transparent 50%, #6bff83 50%);
}

@mixin container{
  text-align: left;
  box-sizing: border-box;
}

@mixin box($width, $height){
  box-sizing: border-box;
  display: inline-block;
  margin: 20px 20px 20px 0;
  padding: 25px;
  width: $width;
  height: $height;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  background-color: rgba(248,248,248,0.8);
}
